<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="UTF-8" />
  <title>Autentifikācijas protokolu salīdzinājums</title>
</head>
<body>
  <h1>Autentifikācijas protokolu salīdzinājums</h1>
  <p>Izvēlieties autentifikācijas veidu:</p>

  <ul>
    <li><a href="/auth/saml">Pieteikties ar SAML</a></li>
    <li><a href="/auth/oidc">Pieteikties ar OpenID Connect</a></li>
    <li><a href="/auth/webauthn">Pieteikties ar WebAuthn</a></li>
  </ul>

  <p><a href="/metrics">Skatīt mērījumus JSON formātā</a></p>
</body>
</html>