<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="UTF-8" />
  <title>Aizsargāts resurss</title>
</head>
<body>
  <h1>Aizsargāts resurss</h1>
  <p>Lietotājs: <%= user %></p>
  <p>Autentifikācijas veids: <%= authType %></p>
  <p><a href="/logout">Izrakstīties</a></p>
</body>
</html>